<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALERIA</title>
</head>

<body>
    <header>
        <a href="index.html">Inicio</a>
        <a href="tablas.html">Tablas</a>
        <a href="listas.html">Listas</a> 
        <a href="formularios.html">Formularios</a>
        <a href="https://frro.cvg.utn.edu.ar/course/view.php?id=737#section-4" target="_blank">CVG</a>
    </header>

    <main>
        <section>
            <h2>Galería de Imágenes</h2>
            <a href="#frasco">Ver una manteca fachera</a>
            <br>
        
            <h2>MANTECA!</h2>
            <img src="imagenes/MANTECA.png">

            <p>manteca mantecosa</p>

            <a href="imagenes/MANTECA.png" target="_blank">Ver imagen en nueva ventana</a>
            <br>

            <a href="imagenes/MANTECA.png" download>Descargar imagen</a>
            <br>

            <a href="archivo.pdf" download>Descargar PDF</a>
            <br>

            <a href="mailto:thiagocampa7@gmail.com?subject=todopiola">Enviar correo</a>
    </main>

    <section id="frasco">
        <h2>LOMPA</h2>
        <img src="imagenes/frasco.jpg">
        <p>manteca fachera!</p>
    </section>

    <footer>

    </footer>

</body>

</html>