<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALERIA</title>
</head>

<body>
    <h1>GALERIA </h1>

    <header>
        <a href="index.html">Inicio</a>
        <a href="tablas.html">Tablas</a>
        <a href="https://frro.cvg.utn.edu.ar/course/view.php?id=737#section-4" target="_blank">CVG</a>
    </header>

    <main>
        <section>
            <h2>Galería de Imágenes</h2>
            <a href="#pantalon">Ver pantalon fachero</a>
            <br>
        
            <h2>TIPO PIOLA</h2>
            <img src="imagenes/images.jpeg">

            <p>un tipo que esta muy piola</p>

            <a href="imagenes/images.jpeg" target="_blank">Ver imagen en nueva ventana</a>
            <br>

            <a href="imagenes/images.jpeg" download>Descargar imagen</a>
            <br>

            <a href="archivo.pdf" download>Descargar PDF</a>
            <br>

            <a href="mailto:thiagocampa7@gmail.com?subject=todopiola">Enviar correo</a>
    </main>

    <section id="pantalon">
        <h2>LOMPA</h2>
        <img src="imagenes/steller-9c84bfcab27074058417501287628264-1024-1024.png">
        <p>pantalon fachero</p>
    </section>

    <footer>

    </footer>

</body>

</html>