<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listas</title>
</head>

<body>
    <header>
        <a href="index.html">Inicio</a>
        <a href="galeria.html">Galeria</a>
        <a href="tablas.html">Tablas</a>
        <a href="https://frro.cvg.utn.edu.ar/course/view.php?id=737#section-4" target="_blank">CVG</a>
    </header>

    <main>
        <section>
            <h2>Lista ordenada</h2>
            <ol>
                <li>primer paso</li>
                <li>segundo paso</li>
                <li>tercer paso</li>
                <li>cuarto paso</li>
            </ol>
        </section>

        <section>
            <h2>Lista desordenada</h2>
            <ul>
                <li>Manzana</li>
                <li>Banana</li>
                <li>Uva</li>
                <li>Sandía</li>
            </ul>
        </section>

        <section>
            <h2>Lista de definición</h2>
            <dl>
                <dt>Colores</dt>
                <dd>rojo blanco verde</dd>
            </dl>
        </section>

        <section>
            <h2>Lista dependiente</h2>
            <ul>
                <li>Animales
                    <ul>
                        <li>perros</li>
                        <li>gatos</li>
                        <li>conejos</li>
                    </ul>
                </li>
                <li>Plantas
                    <ul>
                        <li>arboles</li>
                        <li>flores</li>
                    </ul>
                </li>
            </ul>
        </section>
    </main>

    <footer>

    </footer>
</body>

</html>