<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TABLAS</title>
</head>
<body>
    <h1>TABLAS</h1>
    <header>
        <a href="index.html">Inicio</a>
        <a href="galeria.html">Galeria</a>
        <a href="https://frro.cvg.utn.edu.ar/course/view.php?id=737#section-4" target="_blank">CVG</a>
    </header>

    <main>

    </main>

    <footer>


    </footer>
</body>

</html>