<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="imagenes/logo river.jpg" id="logo">
    <link rel="stylesheet" href="CSS/index.css">
    <title>Formularios</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #logo {
            width: 100px;
            height: 100px;
        }
    </style>
</head>

<body>
    <header>
        <a href="index.html">Inicio</a>
        <a href="galeria.html">Galeria</a>
        <a href="listas.html">Listas</a> 
        <a href="formularios.html">Formularios</a>
        <a href="https://frro.cvg.utn.edu.ar/course/view.php?id=737#section-4" target="_blank">CVG</a>
    </header>

    <main>
        <section>

            <table border="1">
                <tr>
                    <td>
                        <p>AUDIO:</p>
                        <audio controls>
                            <source src="/S1/clase 1/Practica 1/Templates/Audios/videoplayback.weba" type="audio/mpeg">
                        </audio>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>VIDEO:</p>
                        <video width="320" height="240" controls autoplay muted>
                            <source
                                src="/S1/clase%201/Practica%201/Templates/Videos/Video%20de%20WhatsApp%202025-07-30%20a%20las%2020.52.18_93e837b0.mp4"
                                type="video/mp4">
                        </video>
                    </td>
                </tr>
            </table>
        </section>

        <section>
            <table border="1">
                <tr>
                    <td>
                        <p>MAPA:</p>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13129.838926884782!2d-58.4648192!3d-34.5985749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb66da511f58f%3A0x81dc3a7b0a620a27!2sHospital%20Zubizarreta!5e0!3m2!1ses!2sar!4v1722363600000"
                            width="320">
                        </iframe>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>VIDEO DE YOUTUBE:</p>
                        <iframe width="320" height="240" src="https://www.youtube.com/embed/5qDgZNQ7XcU"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen>
                        </iframe>
                    </td>
                </tr>
            </table>
        </section>

        <section>
            <h2>Datos sobre la Manteca</h2>
            <table border="1">
                <tr>
                    <th>Tipo</th>
                    <th>Contenido de Grasa %</th>
                    <th>Uso Común</th>
                    <th>Origen</th>
                </tr>
                <tr>
                    <td>Salada</td>
                    <td>80-82</td>
                    <td>Cocinar, untar, repostería</td>
                    <td>Leche de vaca</td>
                </tr>
        </section>
    </main>

<footer>

</footer>
</body>

</html>