<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>INICIO</title>
</head>

<body>
    <header>
        <a href="index.html">Inicio</a>
        <a href="galeria.html">Galeria</a>
        <a href="tablas.html">Tablas</a>
        <a href="listas.html">Listas</a>
        <a href="formularios.html">Formularios</a>
        <a href="https://frro.cvg.utn.edu.ar/course/view.php?id=737#section-4" target="_blank">CVG</a>
    </header>

    <main>
        <section>
            <h2>Seccion 1:</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla, totam at. Architecto vitae reiciendis quo, natus, porro exercitationem neque aliquid nisi nemo optio nihil tempora voluptatum non? Optio, ipsam accusantium?
            Adipisci voluptatum aliquam aliquid. Sed maiores amet sit a minus error est labore placeat repellat perferendis. Consectetur sed repudiandae accusantium nostrum tempore labore laboriosam, veritatis odit error distinctio dicta reprehenderit.
            Vero unde dolor possimus. Voluptas aspernatur atque at temporibus repudiandae quos dicta totam eaque dolorum nulla deleniti corrupti vel, voluptatum fugiat maxime, quasi error omnis voluptate quisquam. Delectus, alias et!</p>
        </section>

        <section>
            <h2>Segunda 2:</h2>
            <p>manteca.</p>

            <p>resaltar <mark>manteca</mark> para destacar una parte importante.</p>

            <p>También podemos usar <i>manteca</i> para cocinar.</p>

            <p>Las palabra <strong>manteca</strong> se puede usar <b>mantecosamente</b> para captar la
                atención.</p>

            <p>Además, se puede usar la <u>manteca</u> texto para peinar.</p>

            <p>Los saltos de línea:<br>Primera manteca<br>Segunda manteca<br>Tercera manteca.
            </p>

            <h3>Gracias por leer</h3>
            <p>aguante la manteca</p>
        </section>
    </main>

    <footer>

    </footer>
</body>

</html>