<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="shortcut icon" href="imagenes/logo river.jpg" id="logo">
    <link rel="stylesheet" href="CSS/galeria.css">
    <title>Formularios</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #logo {
            width: 100px;
            height: 100px;
        }
    </style>
</head>

<body>
    <header>
        <div class="menu">
            <a href="index.html">Inicio</a>
            <a href="galeria.html">Galeria</a>
            <a href="listas.html">Listas</a>
            <a href="tablas.html">Tablas</a>
            <a href="formularios.html">Formularios</a>
            <a href="https://frro.cvg.utn.edu.ar/course/view.php?id=737#section-4" target="_blank">CVG</a>
        </div>
        <div class="logo-container">
            <img src="imagenes/logo river.jpg" alt="Logo" class="logo">
        </div>
    </header>
    <main>
        <section>
            <div class="titulo">
                <h1>GALERIA DE FOTOS</h1>
            </div>

            <div class="contenedor-galeria">
                <div class="madrid">
                    <img src="imagenes/madrid.jpg" alt="9/12">
                    <p class="parrafo1">Te matabas por ganarla. Te moriste por perderla.</p>
                </div>

                <div class="hinchada">
                    <img src="imagenes/tirantes.jpg" alt="estadio">
                    <p class="parrafo2">El mejor estadio del planeta. El más convocante del mundo.</p>
                </div>

                <div class="escudos">
                    <img src="imagenes/escudos.jpg" alt="escudos">
                    <p class="parrafo3">Elegancia. Historia. Arte. Fútbol.</p>
                </div>

                <div class="labruna">
                    <img src="imagenes/labruna.jpg" alt="labruna">
                    <p class="parrafo4">Es todo muy sencillo. Si marcas un gol más que tu oponente, ganas.</p>
                </div>
            </div>

            <div class="bloque-enlaces">
                <a href="imagenes/tevez.jpeg" target="_blank">
                    <i class="fas fa-image icon"></i> Ver imagen en nueva ventana
                </a>
                <br>

                <a href="imagenes/tevez.jpeg" download>
                    <i class="fas fa-download icon"></i> Descargar imagen
                </a>
                <br>

                <a href="archivo.pdf" download>
                    <i class="fas fa-file-pdf icon"></i> Descargar PDF
                </a>
                <br>

                <a href="mailto:thiagocampa7@gmail.com?subject=todopiola">
                    <i class="fas fa-envelope icon"></i> Enviar correo
                </a>
            </div>
    </main>

    <footer class="pie">
        <p>Felicitaciones, seguramente no moriste en Madrid.</p>
        <img src="imagenes/carp.jpg" alt="carp">
    </footer>

</body>

</html>